.dropdown-li {
	border: 0!important;
	height: 25px;
}

.dropdown-li a {
	color: black!important;
	font-size: 13px;
	padding: 5px 5px !important;
}

.dropdown-li a:hover {
	background-color: black!important;
	color: white!important;
}

.dropdown-gray{
	background-color: gray!important;
}

.article-body button {
	background-color: white;
	border: none;
}

.article-meta a {
	margin-right: 10px;
}

.bg-red {
	background-color: red;
	color: white;
}

.bg-red a:focus {
	background-color: red!important;
}