.dropdown-li {
	border: 0!important;
	height: 25px;
}

.dropdown-li a {
	color: black!important;
	font-size: 13px;
	padding: 5px 5px !important;
}

.dropdown-li a:hover {
	background-color: gray!important;
}

.dropdown-gray{
	background-color: gray!important;
}

button {
	background-color: white;
	border: none;
}

button:hover {
	color: red;
}