		<!-- SECTION -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">Chuyên mục</h2>
							<button class="title">Xem thêm</button>
						</div>
						<!-- /section title -->
						
						<!-- Tab content -->
						<div class="tab-content">
							<!-- tab1 -->
							<div id="tab1" class="tab-pane fade in active">
								<!-- row -->
								<div class="row">
									<!-- Column 1 -->
									<div class="col-md-3 col-sm-6">
										<!-- ARTICLE -->
										<article class="article">
											<div class="article-body">
												<ul>
													<li><h4 class="article-title"><i class="fa fa-caret-right"> Nông sản <button class="fa fa-pencil"></button><button class="fa fa-trash-o"></button></i></i></h4></li>
													<li><h4 class="article-title"><i class="fa fa-caret-right"> Hải sản <button class="fa fa-pencil"></button><button class="fa fa-trash-o"></button></i></h4></li>
												</ul>
											</div>
											<div>
												<a href="#">
													<i class="fa fa-plus"></i><i> Thêm chuyên mục</i>
												</a>
											</div>
										</article>
										<!-- /ARTICLE -->
									</div>
									<!-- /Column 1 -->	
								</div>
								<!-- /row -->
							</div>
							<!-- /tab1 -->
							<div id="tab2" class="tab-pane fade in active">
								
							</div>
						</div>
						<!-- /tab content -->
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->