<!-- SECTION -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">Phóng viên</h2>
							<button class="title">Xem thêm</button>
						</div>
						<!-- /section title -->
						
						<!-- Tab content -->
						<div class="tab-content">
							<!-- tab1 -->
							<div id="tab1" class="tab-pane fade in active">
								<!-- row -->
								<div class="row">
									<!-- Column 1 -->
									<div class="col-md-3 col-sm-6">
										<!-- ARTICLE -->
										<article class="article">
											<div class="article-body">
												<ul>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Phóng viên 1 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Phóng viên 2 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Phóng viên 3 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
												</ul>
											</div>
											<div>
												<a href="#">
													<i class="fa fa-plus"></i><i> Thêm phóng viên</i>
												</a>
											</div>
										</article>
										<!-- /ARTICLE -->
									</div>
									<!-- /Column 1 -->	
								</div>
								<!-- /row -->
							</div>
							<!-- /tab1 -->
							<div id="tab2" class="tab-pane fade in active">
								
							</div>
						</div>
						<!-- /tab content -->
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">Biên tập viên</h2>
							<button class="title">Xem thêm</button>
						</div>
						<!-- /section title -->
						
						<!-- Tab content -->
						<div class="tab-content">
							<!-- tab1 -->
							<div id="tab1" class="tab-pane fade in active">
								<!-- row -->
								<div class="row">
									<!-- Column 1 -->
									<div class="col-md-3 col-sm-6">
										<!-- ARTICLE -->
										<article class="article">
											<div class="article-body">
												<ul>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Biên tập viên 1 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Biên tập viên 2 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Biên tập viên 3 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
												</ul>
											</div>
											<div>
												<a href="#">
													<i class="fa fa-plus"></i><i> Thêm biên tập viên</i>
												</a>
											</div>
										</article>
										<!-- /ARTICLE -->
									</div>
									<!-- /Column 1 -->	
								</div>
								<!-- /row -->
							</div>
							<!-- /tab1 -->
							<div id="tab2" class="tab-pane fade in active">
								
							</div>
						</div>
						<!-- /tab content -->
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">Độc giả</h2>
							<button class="title">Xem thêm</button>
						</div>
						<!-- /section title -->
						
						<!-- Tab content -->
						<div class="tab-content">
							<!-- tab1 -->
							<div id="tab1" class="tab-pane fade in active">
								<!-- row -->
								<div class="row">
									<!-- Column 1 -->
									<div class="col-md-3 col-sm-6">
										<!-- ARTICLE -->
										<article class="article">
											<div class="article-body">
												<ul>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Độc giả 1 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Độc giả 2 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
													<li>
														<h4 class="article-title">
															<i class="fa fa-caret-right">
																<button> Độc giả 3 </button>
																<button class="fa fa-pencil"></button>
																<button class="fa fa-trash-o"></button>
															</i>
														</h4>
													</li>
												</ul>
											</div>
											<div>
												<a href="#">
													<i class="fa fa-plus"></i><i> Thêm độc giả</i>
												</a>
											</div>
										</article>
										<!-- /ARTICLE -->
									</div>
									<!-- /Column 1 -->	
								</div>
								<!-- /row -->
							</div>
							<!-- /tab1 -->
							<div>
								<a href="#">
									<i class="fa fa-plus"></i><i> Thêm người dùng</i>
								</a>
							</div>
							<div id="tab2" class="tab-pane fade in active">
								
							</div>
						</div>
						<!-- /tab content -->
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->