<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Báo Điện Tử TH16-News</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CLato:300,400" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/administrator_category.css">
</head>

<body>

    <header id="header">
        <!-- Top Header -->
        <div id="top-header">
            <div class="container">
                <div class="header-links">
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact</a></li>

                        <li><a href="privacy.html">Privacy</a></li>
                        <li><a href="login.html"><i class="fa fa-sign-in"></i> Login</a></li>
                    </ul>
                </div>
                <div class="header-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Top Header -->

        <!-- Center Header -->
        <div id="center-header">
            <div class="container">
                <div class="header-logo">
                    <a href="index.html" class="logo"><img src="img/th16.png" alt="" width="182px" height="274px"></a>
                </div>

            </div>
        </div>
        <!-- /Center Header -->

        <!-- Nav Header -->
        <div id="nav-header">
            <div class="container">
                <nav id="main-nav">
                    <div class="nav-logo">
                        <a href="#" class="logo"><img src="img/logo-alt.png" alt=""></a>
                    </div>
                    <ul class="main-nav nav navbar-nav">
                        <li class="active"><a href="index.html">Trang chủ</a></li>
                        <li><a href="news.html">Tin mới</a></li>
                        <li><a href="top.html">Nổi bật</a></li>
                        <li>
                            <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                Kinh doanh
                                <span class="fa fa-caret-down"></span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li class="dropdown-li"><a href="nongsan.html">Nông sản</a></li>
                                <li class="dropdown-li"><a href="haisan.html">Hải sản</a></li>
                            </ul>
                        </li>
                        <li><a href="phapluat.html">Pháp luật</a></li>
                        <li><a href="chinhtri.html">Chính trị</a></li>
                        <li><a href="xahoi.html">Xã hội</a></li>
                        <li><a href="giaoduc.html">Giáo dục</a></li>
                    </ul>
                </nav>
                <div class="button-nav">
                    <button class="search-collapse-btn"><i class="fa fa-search"></i></button>
                    <button class="nav-collapse-btn"><i class="fa fa-bars"></i></button>
                    <div class="search-form">
                        <form>
                            <input class="input" type="text" name="search" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Nav Header -->
    </header>
    <!-- /Header -->

   

</body>

</html>