<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>404 page Animation </title>
  
  
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,100,300'>

  <link rel="stylesheet" href="../css/error.css">

  
</head>

<body>

  <div class="cont_principal">
<div class="cont_error">
  
<h1>Oops</h1>
<h5 class="text-danger">{{message}}</h5>
<div class="stack text-monospace">
    <small>{{error.stack}}</small>
</div>
  </div>
<div class="cont_aura_1"></div>
<div class="cont_aura_2"></div>
</div>

    <script  src="../js/error.js"></script>

</body>

</html>
