<!-- Owl Carousel 1 -->
<div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav">
	<!-- ARTICLE -->
	<article class="article thumb-article">
		<div class="article-img">
			<img src="./img/top1.jpg" alt="">
		</div>
		<div class="article-body">
			<ul class="article-info">
				<li class="article-category"><a href="#">Nổi bật</a></li>
				<li class="article-type"><i class="fa fa-file-text"></i></li>
			</ul>
			<h2 class="article-title"><a href="/post">Có gì trong trái sầu riêng giá 23 triệu đồng?</a></h2>
			<ul class="article-meta">
				<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
				<li><i class="fa fa-comments"></i> 33</li>
			</ul>
		</div>
	</article>
	<!-- /ARTICLE -->

	<!-- ARTICLE -->
	<article class="article thumb-article">
		<div class="article-img">
			<img src="/img/top2.jpg" alt="">
		</div>
		<div class="article-body">
			<ul class="article-info">
				<li class="article-category"><a href="#">Nổi bật</a></li>
				<li class="article-type"><i class="fa fa-file-text"></i></li>
			</ul>
			<h2 class="article-title"><a href="/post">15 triệu đồng/kg, loài hải sản này có gì hấp dẫn mà ai cũng mong được
					ăn một lần</a></h2>
			<ul class="article-meta">
				<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
				<li><i class="fa fa-comments"></i> 33</li>
			</ul>
		</div>
	</article>
	<!-- /ARTICLE -->

	<!-- ARTICLE -->
	<article class="article thumb-article">
		<div class="article-img">
			<img src="/img/top3.jpg" alt="">
		</div>
		<div class="article-body">
			<ul class="article-info">
				<li class="article-category"><a href="#">Nổi bật</a></li>
				<li class="article-type"><i class="fa fa-camera"></i></li>
			</ul>
			<h2 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a></h2>
			<ul class="article-meta">
				<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
				<li><i class="fa fa-comments"></i> 33</li>
			</ul>
		</div>
	</article>
	<!-- /ARTICLE -->
</div>
<!-- /Owl Carousel 1 -->

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-12">
				<!-- section title -->
				<div class="section-title">
					<h2 class="title">Xem nhiều nhất</h2>
					<!-- tab nav -->
					<ul class="tab-nav pull-right">
						<li class="active"><a data-toggle="tab" href="#tab1">All</a></li>
						<li><a data-toggle="tab" href="#tab2">Nông sản</a></li>
						<li><a data-toggle="tab" href="#tab3">Hải sản</a></li>

					</ul>
					<!-- /tab nav -->
				</div>
				<!-- /section title -->

				<!-- Tab content -->
				<div class="tab-content">
					<!-- tab1 -->
					<div id="tab1" class="tab-pane fade in active">
						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="/img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- Column 3 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->

							<!-- Column 4 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- Column 4 -->
						</div>
						<!-- /row -->

						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- /Column 3 -->
							<div class="col-md-4 hidden-sm">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->
						</div>
						<!-- /row -->
					</div>
					<!-- /tab1 -->

					<!-- tab2 -->
					<div id="tab2" class="tab-pane fade in">
						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- Column 3 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->

							<!-- Column 4 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- Column 4 -->
						</div>
						<!-- /row -->

						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- /Column 3 -->
							<div class="col-md-4 hidden-sm">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->
						</div>
						<!-- /row -->
					</div>
					<!-- /tab2 -->

					<!-- tab3 -->
					<div id="tab3" class="tab-pane fade in ">
						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- Column 3 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->

							<!-- Column 4 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- Column 4 -->
						</div>
						<!-- /row -->

						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- /Column 3 -->
							<div class="col-md-4 hidden-sm">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->
						</div>
						<!-- /row -->
					</div>
					<!-- /tab3 -->


				</div>
				<!-- /tab content -->
			</div>
			<!-- /Main Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-12">
				<!-- section title -->
				<div class="section-title">
					<h2 class="title">Mới nhất</h2>
					<!-- tab nav -->
					<ul class="tab-nav pull-right">
						<li class="active"><a data-toggle="tab" href="#tab4">All</a></li>
						<li><a data-toggle="tab" href="#tab5">Nông sản</a></li>
						<li><a data-toggle="tab" href="#tab6">Hải sản</a></li>

					</ul>
					<!-- /tab nav -->
				</div>
				<!-- /section title -->

				<!-- Tab content -->
				<div class="tab-content">
					<!-- tab4 -->
					<div id="tab4" class="tab-pane fade in active">
						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- Column 3 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->

							<!-- Column 4 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- Column 4 -->
						</div>
						<!-- /row -->

						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- /Column 3 -->
							<div class="col-md-4 hidden-sm">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->
						</div>
						<!-- /row -->
					</div>
					<!-- /tab4 -->

					<!-- tab5 -->
					<div id="tab5" class="tab-pane fade in">
						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- Column 3 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->

							<!-- Column 4 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- Column 4 -->
						</div>
						<!-- /row -->

						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- /Column 3 -->
							<div class="col-md-4 hidden-sm">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->
						</div>
						<!-- /row -->
					</div>
					<!-- /tab5 -->

					<!-- tab6 -->
					<div id="tab6" class="tab-pane fade in">
						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- Column 3 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->

							<!-- Column 4 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- Column 4 -->
						</div>
						<!-- /row -->

						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- /Column 3 -->
							<div class="col-md-4 hidden-sm">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->
						</div>
						<!-- /row -->
					</div>
					<!-- /tab6 -->
				</div>
				<!-- /tab content -->
			</div>
			<!-- /Main Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-12">
				<!-- section title -->
				<div class="section-title">
					<h2 class="title">Top</h2>
					<!-- tab nav -->

					<!-- /tab nav -->
				</div>
				<!-- /section title -->

				<!-- Tab content -->
				<div class="tab-content">
					<!-- tab -->
					<div class="tab-pane fade in active">
						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- Column 3 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->

							<!-- Column 4 -->
							<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- Column 4 -->
						</div>
						<!-- /row -->

						<!-- row -->
						<div class="row">
							<!-- Column 1 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->

							<!-- Column 2 -->
							<div class="col-md-4 col-sm-6">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 2 -->

							<!-- /Column 3 -->
							<div class="col-md-4 hidden-sm">
								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->

								<!-- ARTICLE -->
								<article class="article  widget-article">
									<div class="article-img">
										<a href="/post">
											<img src="./img/top3_thumbnail.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post">Mở rộng xoài vào thị trường Mỹ</a>
										</h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 3 -->
						</div>
						<!-- /row -->
					</div>
					<!-- /tab -->

				</div>
				<!-- /tab content -->
			</div>
			<!-- /Main Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->