	<!-- SECTION -->
		<div class="section section1">
			<!-- CONTAINER -->
			<div class="container">
				<div class="logo-login">
					<h3>Đăng nhập</h3>
				</div>
				<form class="form-horizontal">
  					<div class="form-group form-group1">
				    	<div class="col-sm-4">
				    		<input type="email" class="form-control form-control1" id="inputEmail3" placeholder="Email">
				    		<input type="password" class="form-control" id="inputPassword3" placeholder="Mật khẩu">
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-4 col-sm-10">
				      		<div class="checkbox">
				        		<label>
				          			<input type="checkbox"> Ghi nhớ đăng nhập
				        		</label>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-4 col-sm-10">
				      		<button type="submit" class="btn btn-primary">Đăng nhập</button>
				    	</div>
				  	</div>
				</form>
				<div class="col-sm-offset-4 col-sm-10 fix-col">
					<div>
						<a href="#"><i>Quên mật khẩu?</i></a>
					</div>
					<div class="col-sign-in">
						<i>Đăng nhập với: </i>
						<a href="#"><i class="fa fa-facebook fa1"></i></a>
						<a href="#"><i class="fa fa-google"></i></a>
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-10 col-sign-up">
					<i>Bạn chưa có tài khoản? <a href="#">Đăng ký ngay</a></i>
				</div>
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->