</html>

<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
</head>

<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Profile</h2>
                        <form novalidate method="POST" action="" class="change_form" id="changeForm">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="txtUsername" value="{{authUser.username}}"  />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="txtEmail" value="{{authUser.email}}" />
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-calendar"></i></label>
                                <input type="text" class="form-control" id="txtDOB" name="dob"
                                    value="{{authUser.dayOfBird}}">
                            </div>
                            <div class="form-group d-flex">
                                <div>
                                    <a class="btn btn-lg btn-outline-info btn-block" href="/account/profile" role="button" id="cancel">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Cancel
                                    </a>
                                </div>
                                <div class="flex-fill ml-1">
                                    <button class="btn btn-info btn-lg btn-block" id="show-btn" type="submit">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/img/signin-image.jpg" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script>
        $(function () {
            $('#txtDOB').datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                mask: true,
            });

            $('#changeForm').validate({
                rules: {
                    username: {
                        required: true,
                        remote: {
                            url: '/account/is-available'
                        }
                    },
                    password: {
                        required: true,
                        minlength: 6
                    },
                    confirm: {
                        required: true,
                        equalTo: $('[name="password"]')
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    dob: {
                        required: true
                    }
                },
                messages: {
                    username: {
                        required: 'Your username is required.',
                        remote: 'Your username has been taken, please take another.'
                    },
                    password: {
                        required: 'Your password is required.',
                        minlength: 'Your password must have at least 6 characters.'
                    },
                    confirm: {
                        required: 'Your password does not match.',
                        equalTo: 'Your password does not match.'
                    },
                    email: {
                        required: 'Please enter a valid email address.',
                        email: 'Please enter a valid email address.'
                    },
                    dob: {
                        required: 'Valid date of birth is required.',
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                }
            });
        })
    </script>
</body>

</html>